<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <title>Trip Buddy</title>
</head>

<body>
    <div class='container-fluid'>
        <br>

        <!-- This div hold other items (greeting, logout link, create trip link, etc.), 
             that make up the heading part of the page -->
        <div class='container row col-12'>
            <h3 class='col-9'>Hello {{request.session.first_name}} </h3>
            <div class='col-3'>
                <a href="/logout">Logout</a> |
                <button>Create a new Trip!</button>
            </div>
        </div>
        <!-- Your Trips -->
        <h4>Your Trips:</h4>
        <div class='col=12'>

        </div>
        <!--Other People's Trips-->
        <div class='col=12'>

        </div>

    </div>
</body>

</html>