<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <title>Trip Buddy</title>
</head>

<body>
    <div class='container-fluid'>
        <br>

        <!-- This div hold other items (greeting, logout link, create trip link, etc.), 
             that make up the heading part of the page -->
        <div class='container row col-12 border-bottom border-dark'>
            <h3 class='col-10'>Hello {{request.session.first_name}} </h3>
            <div class='col-2'>
                <a href="/logout">Logout</a> |
                <form action="/trips/new" method="post" style='display: inline-block;'>
                    {% csrf_token %}
                    <input class="btn btn-primary btn-sm" type="submit" value="Create a new trip!">
                </form>
            </div>
        </div>

        <div class='container col-12'>

            <br>
            <h4 class='col-2'>Your Trips:</h4>

            <!-- Your Trips -->
            <div class='container col-12 border border-dark' style='height: 300px;' style='overflow: scroll;'>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Plan</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    {% for trip in this_users_trips %}
                    <tbody>
                        <tr>
                            <th scope="row">{{trip.id}}</th>
                            <td><a href="/trips/{{trip.id}}">{{trip.destination}}</a></td>
                            <td>{{trip.start_date}}</td>
                            <td>{{trip.end_date}}</td>
                            <td>{{trip.plan}}</td>
                            <td><a href="/trips/{{trip.id}}/delete">Remove</a> | <a
                                    href="/trips/{{trip.id}}/edit">Edit</a></td>
                        </tr>
                    </tbody>
                    {% endfor %}
                    {% for trip in this_users_trips_joined %}
                    <tbody>
                        <tr>
                            <th scope="row">{{trip.id}}</th>
                            <td><a href="/trips/{{trip.id}}">{{trip.destination}}</a></td>
                            <td>{{trip.start_date}}</td>
                            <td>{{trip.end_date}}</td>
                            <td>{{trip.plan}}</td>
                            <td><a href="/trips/{{trip.id}}/delete">Cancel</a>
                        </tr>
                    </tbody>
                    {% endfor %}

                </table>
            </div>

            <br>
            <h4 class='col-12'>Other Peoples Trips:</h4>

            <!--Other People's Trips-->
            <div class='container col-12 border border-dark' style='height: 300px;'>

                <table class=" table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Plan</th>
                            <th scope="col">Created By</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    {% for trip in other_users_trips %}
                    <tbody>
                        <tr>
                            <th scope="row">{{trip.id}}</th>
                            <td><a href="/trips/{{trip.id}}">{{trip.destination}}</a></td>
                            <td>{{trip.start_date}}</td>
                            <td>{{trip.end_date}}</td>
                            <td>{{trip.plan}}</td>
                            <td>{{trip.created_by.first_name}}</td>
                            <td><a href="/trips/{{trip.id}}/join">Want to join?</a></td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>









            </div>
        </div>

    </div>
</body>

</html>