<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <title>Trip Buddy Edit Trip</title>
</head>

<body>
    <div class='container-fluid'>
        <br>
        <!-- This div hold other items (greeting, logout link, create trip link, etc.), 
             that make up the heading part of the page -->
        <div class='container row col-12 border-bottom border-dark'>
            <h3 class='col-11'>Hello {{request.session.first_name}}! Read about your trip! </h3>
            <div class='col-1'>
                <a href="/trips">Home</a>
                <a href="/logout">Logout</a>
            </div>
        </div>

        <!-- Show Information about the trip -->
        <div class='container-fluid col-11'>
            <br><br>
            <h4>{{this_trip.destination}}</h4>

            <!-- Trip information here -->
            <div class='col-10'>
                <p>Start Date: <strong>{{this_trip.start_date}}</strong> </p>
                <p>End Date: <strong>{{this_trip.end_date}}</strong></p>
                <p>Created on: <strong>{{this_trip.created_at}}</strong></p>
                <p>Last Updated: <strong>{{this_trip.updated_at}}</strong></p>
                <p>Plan: <strong>{{this_trip.plan}}</strong></p>
                <p>Created by: <strong>{{this_trip.created_by.first_name}} {{this_trip.created_by.last_name}}</strong>
                </p>
            </div>
            <!-- Trip Fellow Travellers here -->
            <h4>People who've joined the trip:</h4>
            <div class='col-10'>
                <div>
                    <p>LIST FELLOW TRAVELLERS HERE</p>
                    {{ trip_joiners }}
                    {% for joiner in trip_joiners %}
                    {{ joiner}}
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</body>

</html>