<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books and Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> -->
</head>

<body>
    <form id="add_book" action="add_book" method="post">
        {% csrf_token %}
        <h3>Add a Book</h3>
        <label for="title">Title</label>
        <input id="title" , name="title" type="text">
        <br><br><label for="desc">Description</label>
        <br><textarea name="desc" id="desc" cols="30" rows="10"></textarea>
        <br><input type="submit" value="Add">
    </form>
    <form id="list_books" action="show_books">
        {% csrf_token %}
        <h4 id="id_heading">ID</h4>
        <h4 id="title_heading">Title</h4>
        <h4 id="action_heading">Action</h4>
        <div id="book_list">
            {% autoescape off %}{{ request.session.book_list}} {% endautoescape %}
        </div>
    </form>
</body>

</html>