<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Amadon</title>
</head>

<body>
    <div class='container'>
        <br><br>
        <h3>Thank you for your business!</h3>
        <p>We charged your credit card for ${{request.session.total_charge}}</p>
        <p>You have ordered {{request.session.total_ordered}} items so far and spent
            ${{request.session.total_spent|floatformat:2}} with
            Amadon.com!</p>
        <p><a href="/">Go Back</a></p>
    </div>
</body>

</html>