<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semi-Restful TV Shows</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>

<body>
    <div class='container-fluid'>
        <h3>All Shows</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Network</th>
                    <th scope="col">Release Date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for show in all_shows %}
                <tr>
                    <th scope="row">{{ show.id }}</th>
                    <td>{{ show.title }}</td>
                    <td>{{ show.network }}</td>
                    <td>{{ show.release_date|date:"F j, Y" }}</td>
                    <!-- The DATE_FORMAT uses month abbreviations (N instead of F -->
                    <!-- <td>{{ show.release_date|date:"DATE_FORMAT" }}</td> -->
                    <td><a href="/shows/{{ show.id }}">Show</a> | <a href="/shows/{{ show.id }}/edit">Edit</a> | <a
                            href="/shows/{{ show.id }}/delete">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="new">Add a New Show</a>
    </div>
</body>

</html>