<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Amadon</title>
</head>

<body>
    <div class="container">
        <br><br>
        <h1>Amadon Store!</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in all_products %}
                <tr>
                    <form class="form-group" action="/process_order" method="post">
                        {% csrf_token %}
                        <td>{{product.description}}</td>
                        <!-- <td><input type="hidden" name="price" value="{{product.price}}">{{product.price}}</td> -->
                        <td><input type="hidden" name="id" value="{{product.id}}">{{product.id}}</td>
                        <td><select class="custom-select" name="quantity">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select></td>
                        <td><input class="btn btn-outline-primary" type="submit" value="Buy!"></td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>