<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Dojo Reads</title>
</head>

<body>
    <div class='container-fluid'>
        <br>

        <!-- Display welcome banner with user name and links to add book review AND logout -->
        <div class='row col col-12 border-dark border-bottom'>
            <h2 class='col-lg-9'>Welcome, {{request.session.first_name}}!</h2>
            <div class='col-lg-3'>
                <a href="/books/new">Add Book and Review </a> |
                <a href="/logout"> Logout</a>
            </div>
        </div><br><br>

        <div class='row col col-12'>
            <!-- Display list of recent book reviews (top 5?) -->
            <div class='col col-6'>
                <h3>Recent Book Reviews:</h3>
                <div class='col col-12'>

                    <!-- Use slice template filter to only display first 3 reviews -->
                    {% for review in all_reviews|slice:":3" %}
                    <p class="m-1"><a href="/books/{{review.book.id}}">{{review.book.title}}</a></p>
                    <div class='col-11'>
                        {% load static %}
                        {% if review.rating == 1%}
                        <span>Rating: </span><img height="15px" src="{% static 'images/1star.jpeg' %}" alt="My image">
                        {% endif %}
                        {% if review.rating == 2%}
                        <span>Rating: </span><img height="15px" src="{% static 'images/2stars.jpeg' %}" alt="My image">
                        {% endif %}
                        {% if review.rating == 3%}
                        <span>Rating: </span><img height="15px" src="{% static 'images/3stars.jpeg' %}" alt="My image">
                        {% endif %}
                        {% if review.rating == 4%}
                        <span>Rating: </span><img height="15px" src="{% static 'images/4stars.jpeg' %}" alt="My image">
                        {% endif %}
                        {% if review.rating == 5%}
                        <span>Rating: </span><img height="15px" src="{% static 'images/5stars.jpeg' %}" alt="My image">
                        {% endif %}
                    </div>
                    <p class="col-11 m-0"><a href="/books/user/{{review.user.id}}">{{review.user.first_name}}</a> says:
                        {{review.text}}</p>
                    <em>
                        <p class="col-11 m-0">Posted on: {{ review.created_at}}</p>
                    </em><br>
                    {% endfor %}
                </div>
            </div>

            <!-- Display full list of other books with review -->
            <div class='col col-6'>
                <h3>Other Books with Reviews:</h3>
                <div class='col col-11' style="height: 250px; overflow-y: auto;">
                    {% for book in all_books%}
                    <p class="m-0"><a href="/books/{{book.id}}">{{book.title}}</a></p>
                    {% endfor %}
                </div>

            </div>
        </div>


    </div>

</body>

</html>