<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Dojo Reads</title>
</head>

<body>
    <div class='container-fluid'>
        <br>

        <!-- Display welcome banner with user name and links to add book review AND logout -->
        <div class='row col col-12 border-dark border-bottom'>
            <h2 class='col-lg-10'>Welcome, {{request.session.first_name}}!</h2>
            <div class='col-lg-2'>
                <a href="/books">Home</a> |
                <a href="/logout"> Logout</a>
            </div>
        </div><br>

        <div class='row col col-12'>
            <!-- Add a new Book Title and a Review -->
            <div class='col col-6'>
                <h4>Add a new Book Title and a Review:</h4><br>
                <div class='col col-11'>
                    <form action="create" method="post">
                        {% csrf_token %}
                        <label for="title"><strong>Book Title:</strong></label>
                        <input class='col-8' type="text" name="title" id="title">
                        <br>
                        <p><strong>Author:</strong></p>
                        <label for="author_list">Choose from the list: </label>
                        <select class='col-6' name="author_list" id="author_list" class="col-4">
                            {% for author in all_authors %}
                            <option value="{{author.id}}">{{author.name}}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <label for="author_name">Or add a new Author:</label>
                        <input class='col-8' type="text" name="author_name" id="author_name">
                        <br><br>
                        <label for="review">Review:</label>
                        <br>
                        <textarea name="review" id="review" cols="70" rows="10" style="resize: none;"
                            placeholder="Enter your review"></textarea>
                        <br><br>
                        <label for="rating">Rating:</label>
                        <select name="rating" id="rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select> <span>stars</span>
                        <br><br>
                        <input type="submit" value="Add Book and Review" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>

    </div>

</body>

</html>