<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Dojo Reads</title>
</head>

<body>
    <div class='container-fluid'>
        <br>

        <!-- Display welcome banner with user name and links to add book review AND logout -->
        <div class='row col col-12 border-dark border-bottom'>
            <h2 class='col-lg-10'>Welcome, NAME_HERE!</h2>
            <div class='col-lg-2'>
                <a href="/books">Home</a> |
                <a href="/logout"> Logout</a>
            </div>
        </div><br><br>

        <div class='row col col-12'>
            <!-- Display list of recent book reviews (top 5?) -->
            <div class='col col-6'>
                <h3>BOOK TITLE HERE:</h3>
                <h4>Author: AUTHOR NAME HERE</h4>
                <h3>Reviews:</h3>
                <div class='col col-11'>
                    <p>RATING: STARS DISPLAY HERE</p>
                    <p>USER NAME AND REVIEW HERE</p>
                    <p>Posted On: POSTED DATE HERE | <a href="">Delete this Review - If review created by user</a></p>
                </div>
            </div>

            <!-- Display full list of other books with review -->
            <div class='col col-6'>
                <h3>Add a Review:</h3>
                <form action="">
                    <p>REVIEW TEXT GOES HERE</p>

                    <input type="submit" value="Submit Review" class="btn btn-primary">
                </form>

            </div>
        </div>


    </div>

</body>

</html>