<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Dojo Reads</title>
</head>

<body>
    <div class='container-fluid'>
        <br>

        <!-- Display welcome banner with user name and links to add book review AND logout -->
        <div class='row col col-12 border-dark border-bottom'>
            <h2 class='col-lg-10'>Welcome, {{request.session.first_name}}!</h2>
            <div class='col-lg-2'>
                <a href="/books">Home</a> |
                <a href="/logout"> Logout</a>
            </div>
        </div><br><br>

        <div class='row col col-12'>
            <!-- Display list of recent book reviews (top 5?) -->
            <div class='col col-6'>
                <h3>{{this_book.title}}</h3>
                <h4>Author: {{this_book.author.name}}</h4><br>
                <h3 class="border-bottom border-dark">Reviews:</h3>
                <div class='col col-11'>
                    <!-- for review in this_book_reviews -->
                    {% for review in this_book_reviews %}
                    <p class="m-0">Rating:{{review.rating}}</p>
                    <p class="m-0"><a href="/books/user/{{review.user.id}}">{{review.user.first_name}}</a>
                        says: <em>{{ review.text}}</em>
                    </p>
                    <p class="m-0"><em>Posted on {{review.created_at}}</em></p>
                    {% if request.session.userid == review.user_id %}
                    <p><a href="/books/review/{{review.id}}/delete">Delete this post</a></p>
                    {% endif %}
                    <br>
                    {% endfor %}
                </div>
            </div>

            <!-- Display full list of other books with review -->
            <div class='col col-6'>
                <h3>Add a Review:</h3>
                <form action="create_review/{{this_book.id}}" method="post">
                    {% csrf_token %}
                    <label for="review">Add a Review:</label><br>
                    <textarea name="review" id="review" cols="30" rows="10" style='resize: none'
                        placeholder="Enter your review"></textarea><br><br>
                    <label for="rating">Rating:</label>
                    <select name="rating" id="rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select> <span>stars</span><br><br>
                    <input type="submit" value="Submit Review" class="btn btn-primary">
                </form>

            </div>
        </div>


    </div>

</body>

</html>