<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <div class="container-fluid">
        <br>
        <a href="/show">Back to Course List</a>
        <br><br>
        <h2>Add a new Comment for {{ this_course.name }}</h2>
        <form action="/{{this_course.id}}/new_comment" method="post">
            {% csrf_token %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <label for=" comment">Comment</label><br>
            <textarea id="comment" name="comment" rows="4" cols="50">{{ request.session.description }}</textarea><br>
            <br><input type="submit" value="Add" class="btn btn-primary">
        </form>
        <div>
            <br>
            <h2>Comments</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Comments</th>
                        <th scope="col">Date Added</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in these_comments %}
                    <tr>
                        <th scope="row">{{ comment.id }}</th>
                        <td>{{ comment.text }}</td>
                        <td>{{ comment.created_at}}</td>
                        <td><a href="/{{ comment.course.id }}/delete">Remove</a></td>
                    </tr> {% endfor %} </tbody>
            </table>
        </div>
    </div>
</body>

</html>