<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <div class="container-fluid">
        <br>
        <h2>Add a new Course</h2>
        <form action="/new" method="post">
            {% csrf_token %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="{{ request.session.name }}"><br><br>
            <label for=" description">Description</label><br>
            <textarea id="description" name="description" rows="4"
                cols="50">{{ request.session.description }}</textarea><br>
            <br><input type="submit" value="Add" class="btn btn-primary">
        </form>
        <div>
            <br>
            <h2>Courses</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Course Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Date Added</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in all_courses %}
                    <tr>
                        <th scope="row">{{ course.id }}</th>
                        <td>{{ course.name }}</td>
                        <td>{{ course.description.text }}</td>
                        <td>{{ course.created_at}}</td>
                        <td>remove</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>