* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#book_data {
    border: solid black 1px;
    width: 250px;
    height: 150px;
    padding: 5px;
    margin: 5px;
    overflow: scroll;
}

#authors_for_this_book {
    border: solid black 1px;
    width: 250px;
    height: 200px;
    padding: 5px;
    margin: 5px;
    overflow: scroll;
}

#new_authors {
    border: solid black 1px;
    width: 250px;
    height: 60px;
    padding: 5px;
    margin: 5px;
}

#back {
    margin-left: 10px;
}