* {
  /* outline: solid 1px black; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  margin: 0px auto;
  padding: 10px;
  width: 1320px;
  height: 1530px;
  background-color: rgb(25,25,25);
}
.header {
  height: 140px;
  width: 100%;
  background-color: rgb(25,25,25);
}
.header img {
  display: inline-block;
  width: 270px;
  margin: 40px 660px 0px 30px;
}
.header h1 {
  display: inline-block;
  vertical-align: top;
  color: lightgray;
  margin: 40px 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}
.navbar {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  height: 52px;
  padding-top: 8px;
  color: lightgray;
  background: linear-gradient(rgb(83,83,83), rgb(41,41,41));
}
.navbar ul {
  margin-left: 30px;
}
.navbar li {
  display: inline-block;
  color: darkgray;
  padding: 10px 20px 10px 20px;
  border-right: solid 2px rgb(46, 42, 42);
}
.navbar li:nth-child(6) {
  padding-right:580px;
  /* border:none; */
}
a {
  color: darkgray;
  text-decoration: none;
}
a:hover {
  color: yellow;
}
.navbar ul li a span {
  color: white;
}
#main {
  width: 1300px;
}
.content-wrapper {
  background-color: rgb(25,25,25);
  height: 190px;
  padding: 45px 0 0 30px;
}
.content-wrapper img {
  width: 60px;
  vertical-align: top;
}
.content {
  display: inline-block;
}
.content h2 {
  display: inline-block;
  color: rgb(255, 123, 0);
}
.content p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 5px;
  color: lightgray; 
  width: 250px;
}
.buy-now {
  background-color: black;
  /* background: repeating-linear-gradient(-45deg, black 5px, red 5px); */
  height: 170px;
  padding: 40px;
  background: repeating-linear-gradient(
  -45deg,
  #202020,
  #202020 5px,
  #232324 5px,
  #232324 10px
);
}
.buy-now h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7em;
  font-weight: lighter;
  color: lightgray;
}
.buy-now p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: lighter;
  color: gray;
  padding: 5px;
  width: 800px;
}
.buy-now div {
  display: inline-block;  /* So we can positioni the buy button to the right of text */
}
.buy-now button {
  display: inline-block;
  background: linear-gradient(rgb(242,155,89), rgb(239,128,46));
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: none;
  vertical-align: top;
  margin: 10px 0 0 230px;
}
.portfolio {
  background-color: rgb(25,25,25);
  height: 440px;
}
.portfolio-heading {
  margin: 10px 0 5px 20px;
  padding-top: 25px;
}
.portfolio-heading h1 {
  display: inline-block;
  font-size: 1.6em;
  color: lightgray;
  width: 1100px;
  vertical-align: top;
}
.portfolio-heading p {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1e;
  font-weight: bolder;
  color: rgb(255, 123, 0);
  width: 150px;
}
.portfolio-content {
  display: inline-block;
  width: 295px;
  margin: 10px 0 0 20px;
}
.portfolio-content img {
  width: 295px;
  padding: 0px;
  border: solid 5px rgb(46, 46, 46);
}
.portfolio-content h2 {
  color: rgb(255, 123, 0);
  font-size: 1.3em;
  padding: 15px 0 15px 0;
}
.portfolio-content p {
  color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}
.footer {
  background-color: rgb(25,25,25);
  height: 40px;
}
.footer p {
  width: 200px;
  color: darkgray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  margin: 0 0 0 1200px;
}