<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Dojo Reads</title>
</head>

<body>
    <div class='container col-12'>

        <!-- Display Page Header -->
        <div class='row col-12 mt-2 border-bottom border-dark'>
            <h4 class='col-9'>Welcome, {{request.session.first_name}}</h4>
            <div class='col-3'>
                <a href="/books/add_book">Add Book and Review</a> |
                <a href="/login/logout">Logout</a>
            </div>
        </div>

        <div class='container col-12 row'>
            <!-- Display Recent Book Reviews (last 3) on left side of page (6 columns) -->
            <div class='container col-7'>
                <br>
                <h5>Recent Book Reviews:</h5><br>
                {% for review in all_reviews|slice:":3" %}
                <h4 class='border-bottom border-dark'><a
                        href="/books/show_book/{{review.book.id}}">{{review.book.title}}</a></h4>
                <div class='col-11'>
                    {% load static %}
                    {% if review.rating == 1 %}
                    <span>Rating: </span><img height="15px" src="{% static 'images/1star.jpeg' %}" alt="1 star rating">
                    {% endif %}
                    {% if review.rating == 2 %}
                    <span>Rating: </span><img height="15px" src="{% static 'images/2stars.jpeg' %}" alt="2 star rating">
                    {% endif %}
                    {% if review.rating == 3 %}
                    <span>Rating: </span><img height="15px" src="{% static 'images/3stars.jpeg' %}" alt="3 star rating">
                    {% endif %}
                    {% if review.rating == 4 %}
                    <span>Rating: </span><img height="15px" src="{% static 'images/4stars.jpeg' %}" alt="4 star rating">
                    {% endif %}
                    {% if review.rating == 5 %}
                    <span>Rating: </span><img height="15px" src="{% static 'images/5stars.jpeg' %}" alt="5 star rating">
                    {% endif %}
                    <p class=' m-0'><a href="/books/show_user/{{review.user.id}}">{{review.user.first_name}}</a> says:
                        <em>{{review.text}}</em></p>
                    <p class='m-0'>Posted on: {{review.created_at}}</p>
                    <br>
                </div>
                {% endfor %}
            </div>

            <!-- Display Other book revies (on rigt side of page (6 columns) -->
            <div class='container col-5'>
                <br>
                <h5>Other Books with Reviews:</h5>
                <div class='col-4'>
                    {% for book in all_books %}
                    <p class='m-0'><a href="/books/show_book/{{book.id}}">{{book.title}}</a></p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>