<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Edit Book {{book.title}}</title>
</head>

<body>
    <div class='container-fluid'>

        <!-- Display welcome banner at top of page -->
        <div class="row col-12 border-bottom border-dark">
            <div class='col col-10'>
                <h2>Welcome, {{ request.session.first_name }}!</h2>
            </div>
            <p class='col col-2'><a href="/books">Home</a> | <a href="/logout">Log Out</a></p>
        </div>

        <!-- Display the form to edit this bok -->
        <div class='container-fluid row'>
            <div class='col col-6'>
                <br>
                <form action="/books/{{this_book.id}}/update" method="post">
                    {% csrf_token %}
                    <label for="title"><strong>Title:</strong></label>
                    <input class="col-8" type="text" name="title" id="title" value="{{this_book.title}}">
                    <p><strong>Add by: </strong>{{ this_book.user.first_name }} {{ this_book.user.last_name }}</p>
                    <p><strong>Added On: </strong>{{ this_book.created_at }}</p>
                    <p><strong>Last Updated On: </strong>{{ this_book.updated_at }}</p>
                    <p><strong>Description:</strong></p>
                    <textarea name="description" id="description" cols="50" rows="10"
                        style="resize: none;">{{ this_book.description }}</textarea><br>
                    <input class="btn btn-primary" type="submit" value="Update">
                    <input formaction="/books/{{this_book.id}}/delete" class="btn btn-danger" type="submit"
                        value="Delete">
                </form>
            </div>

            <!-- Display a list of the users who like/favorited this book -->
            <div clas='col col-6'>
                <br>
                <h3>Users Who Like This Book:</h3>
                <ul>
                    {% for user in this_book.users_who_like.all %}
                    {% if this_user.id == user.id and this_user in this_book.users_who_like.all %}
                    <li>{{user.first_name}} {{user.last_name}} <a
                            href="/books/{{this_book.id}}/remove_from_favorites">Un-Favorite</a></li>
                    {% else %}
                    <li>{{user.first_name}} {{user.last_name}}</li>
                    {% endif %}
                    {% endfor %}
                    {% if not this_user in this_book.users_who_like.all %}
                </ul>
                <p><a href="/books/{{this_book.id}}/add_to_favorites">Add to my Favorites</a></p>
                {% endif %}
            </div>
        </div>
    </div>

</body>

</html>