* {
  /* outline: solid black 1px; */
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.wrapper {
  width: 1050px;
  height: 1120px;
}
.header {
  height: 65px;
}
.header p {
  display: inline-block;
}
.gray-headers {
  background: linear-gradient(darkgray, gray, darkgray);
  color: white;
}
#name {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 2em;
  font-weight: bolder;
  padding: 10px 490px 10px 30px;
}
#slogan {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: bolder;
  vertical-align: top;
  margin: 25px 0 0 0;
}
.main {
  width: 100%;
  height: 90%;
  background: linear-gradient(0.25turn, rgb(31,14,18), rgb(111,89,100), rgb(31,14,18));
}
.panel-header {
  background: linear-gradient(darkgray, gray, darkgray);
  color: white;
}
.panel-body {
  background: linear-gradient(0.25turn, rgb(254,254,254) 1%,  rgb(219,204,218));

}
.about-me {
  width: 100%;
  height: 350px;
}
.about-me img {
  display: inline-block;
  width: 460px;
  border: solid gray 5px;
  margin: 20px 10px 10px 30px;
}
.about-me-text {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: top;
  width: 500px;
  height: 306px;
  margin: 20px 10px 10px 15px;
}
.about-me-text h1 {
  padding: 8px 0 5px 5px;
  height: 40px;
  font-size: 1.3em;
}
.about-me-text p {
  padding: 15px 20px 10px 15px;
  font-size: 1em;
}
#continue-reading {
  padding: 20px 10px 10px 10px;
}
.experience {
  margin: 5px 10px 10px 30px;
  height: 625px;
  width: 990px;
}
.exp-panel {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px 0 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 324px;
  height: 625px;
}
/* The last experience panel (right-most) doesn't need a right margin */
.exp-panel:nth-of-type(3) {
  margin: 0;
  background-color: red;
}
.exp-panel h1 {
  font-size: 1.5em;
  padding: 5px;
}
.exp-panel img {
  width: 320px;
}
.exp-panel p {
  font-size: 1em;
  padding: 10px;
  height: 190px;
}
img.tech-icons {
  width: 50px;
  margin: 5px;
}
button {
  display: block;
  border-radius: 10px;
  background-color: green;
  color: white;
  height: 30px;
  text-align: center;
  font-size: .9em;
  margin: 5px auto 0;
  padding: 5px 10px 5px 10px;
}
.footer {
  font-family: Arial, Helvetica, sans-serif;
  height: 100px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  background-color: white;
}
.footer ul li {
  display: inline-block;
  vertical-align: top;
}
.footer p {
  margin: 0px 0px 15px 0px;
}
.footer img {
  width: 15px;
  margin-top:  2px;
}